streamlit
python-dotenv
PyPDF2
langchain
langchain-community
faiss-cpu
sentence-transformers
langchain-huggingface
groq
pandas
duckduckgo-search
fastapi
uvicorn
motor
passlib[bcrypt]
pyjwt
python-multipart
extra-streamlit-components